.busytimeForm-unavailType {padding-left: 195px}

#busytimeForm-unavailTypeOptionOne {margin-right: 5px}

#busytimeForm-unavailTypeOptionTwo {margin-left: 30px;margin-right: 5px}

#cancelInterview-OptionOne {margin-right: 5px}

#cancelInterview-OptionTwo {margin-left: 30px;margin-right: 5px}

.cap-icon-normal {float:left;margin-left: 20px;margin-top: 40px}

.cap-icon-small {float:left;margin-left: 20px;margin-top: 40px;width:20%}

.font-normal {font-family:Verdana; font-size:18px}

.form-font {font-family:Verdana; font-size:18px}

.form-rowA {font-family:Verdana; color: darkblue}

.form-rowB {font-family:Verdana; color:#13a9f0}

.header-main {color: darkblue}

.hola-icon {width:10%}

.interview-row {font-family:Verdana; margin-top: 17px;}

.link {color:blue}

.landing-page-title {font-family:Verdana; margin-top:40px}

.menu-btn-group {font-family:Verdana; width:5%;font-size:19px;margin-right:20px}

.menu-btn-group-first {font-family:Verdana; margin-left:4px;margin-bottom:30px}

.menu-btn-group-row {font-family:Verdana; margin-top:30px}

.paragraph-text {font-family:Verdana; margin-top:10px;color:#13a9f0}

.paragraph-text-normal {font-family:Verdana; margin-top:20px;color:#13a9f0}

.paragraph-text-event {font-family:Verdana; margin-top:50px;color:#13a9f0}

.subtitle-normal {font-family:Verdana; color:#13a9f0;width:60%;margin-top:40px}

.subtitle-alternate {font-family:Verdana; color:darkblue;width:60%;margin-top:40px}

.subtitle-big {font-family:Verdana; font-size:23px;color:#13a9f0;width:60%;margin-top:40px}

.subtitle-row-small {font-family:Verdana; margin-bottom:15px}

.subtitle-row-med {font-family:Verdana; margin-bottom:30px}

.subtitle-row-large {font-family:Verdana; margin-bottom:45px}

.interviewStartTime {}

.interviewRangeStartTime {}

.interviewRangeEndTime {}

.newTimeslotForm {}

.busyDate {}
